/* General setting */

* {
  font-family: "Slabo 27px", serif;
  background-color: #ffffe5;
  color: black;
}

b {
  font-family: "Roboto Slab", serif;
}

a {
  color: #b15928;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 52px;
  margin: 10% 0% 0% 10%;
}

h2 {
  font-size: 20px;
}

h3 {
  margin: 0;
}

ol,
ul {
  margin-left: 12%;
}

.domain {
  display: none;
}

/* Heading part */
#headline {
  margin-left: 12%;
}

.introduction {
  margin-top: 55px;
  margin-left: 10%;
  min-width: 400px;
  max-width: 800px;
}

#headline a {
  color: black;
  text-decoration: none;
}

/* Main part */

.section-container {
  min-width: 750px;
  max-width: 1300px;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  column-gap: 8%;
}

.section-container > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 2 auto;
  justify-content: flex-start;
}

.text-container {
  position: relative;
  width: 30%;
}

#chart-container {
  position: -webkit-sticky;
  position: sticky;
  width: 70%;
  min-height: 600px;
  z-index: 1;
  top: 8.5vh;
  height: 75vh;
}

.step {
  margin-top: 20%;
  min-height: 1200px;
  opacity: 1;
}

.step h2 {
  font-size: 24px;
}

/* Each chart part */

.row1 {
  column-count: 3;
}

.legend {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.scatter .y-axis line {
  stroke: #bdbdbd; /* change grid line */
}

svg text {
  font-size: 10px;
}

foreignObject p {
  font-size: 10px;
  background-color: transparent;
  text-align: center;
}

.chart-title {
  font-size: 16px;
  margin-bottom: 20px;
}

.stackedarea-each,
.line-each {
  font-size: 14px;
}

#line-chart-title {
  font-size: 16px;
  margin-bottom: 40px;
}

#annotation2 p {
  font-size: 16px;
}

/* Interactive part */

.highlight path {
  stroke: #696969;
  opacity: 1;
}

.highlight text {
  fill: steelblue;
}

.svg-tooltip {
  background: rgba(69, 77, 93, 0.9);
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  max-width: 320px;
  padding: 1rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: pre;
  z-index: 300;
  visibility: hidden;
}

/* Conclusion part */
.source {
  margin-left: 10%;
  padding-top: 5px;
}

.section-title {
  margin-left: 10%;
  min-width: 750px;
  max-width: 1300px;
  padding-top: 120px;
}

.section-title2 {
  margin-left: 10%;
  width: 1300px;
  min-width: 750px;
  max-width: 1300px;
  padding-top: 20px;
}

.building {
  margin-left: 12%;
  min-width: 750px;
  max-width: 1300px;
  padding-top: 5px;
}
